.form {
    background-image: url("../images/backgroundimage4.PNG");
    background-size: 100%;
    border: none;
    margin: auto;
    max-width: 300px;
}

.form__element {
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
}

form.output {
    color: black;
}

.article {
    text-align: center;
}