.form {
    background: #02023a;
    background-size: 100%;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form__element {
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 5px;

}

form.output {
    color: black;
}

.form__article {
    color: white;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    font-size: 40px;
    text-align: center;
}
.form__fieldset{
    border: none;
}