html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/backgroundimage.jpg");
    background-size: 100%;
}
.paragraph{
    text-align: center;
}